<h1><%= @sanity_test %></h1>
<h2>Hello You!</h2>

<%= link_to "Connect with Twitter", '/auth/twitter'%>
<br>
<%= link_to "Connect with Facebook", '/auth/facebook'%>
<br>
<%= link_to "Connect with LinkedIn", "/auth/linkedin" %>