<h2>Employee Engagement Dashboard</h2>

<% unless @disable_twitter_button %>
  <%= button_to "Connect with Twitter", '/auth/twitter', method: "get", class: "btn btn-primary"%>
<%else%>
  <%= button_to "Twitter already connected", '/auth/twitter', method: "get", disabled: true, class: "btn btn-primary"%>
<%end%>
<br>
<%= button_to "Connect with Facebook", '/auth/facebook', method: "get", class: "btn btn-primary"%>
<br>
<%= button_to "Connect with LinkedIn", "/auth/linkedin", method: "get", class: "btn btn-primary" %>