<div class="container">
  <% if notice %>
    <div class="alert alert-warning">
      <%= notice %>
    </div>
  <% elsif alert %>
    <div class="alert alert-danger">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <%= alert %>
  </div>
  <% end %>
</div>