<div class="container" id="posts-list">
	<% @user_posts.each_slice(3) do |posts| %>
		<div class="row">
	   	<% posts.each do |post| %>
	  		<div class="col-md-4">
			  	<div class="listing">
		  	  	<%= post_helper(post) %>
				  </div>
				</div>
		  <% end %>
		</div>
	<% end %>
</div>

