<section class="social-media-buttons" >

  <div class="box">
    <h3> Account Settings: </h3>
    <%= render 'shared/social_media_buttons' %>
  </div>

</section>

<div class="text-center">
  <h2>Employee Engagement Dashboard</h2>
  <%= link_to "Propose a post", post_path %>
</div>