<div class="container">
  <h1>Post creation page</h1>

  <%= form_for @post do |f| %>
    URL: <%= f.text_field :url, placeholder: "http://" %>
    <%= f.submit class: "btn-warning" %>
  <% end %>

  <div class="urlive-container">
  </div>


</div>

<%= javascript_include_tag "urllive_preview"  %>
