.social-media-buttons {
  height: 300px;
}
.box {
  height: 12em;
  width: 50em;
  margin-left: auto ;
  margin-right: auto ;
  padding: 30px 15px;
  border-top-color: solid #3c8dbc;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.posts-spacing {
  margin: 20px;
  padding: 20px;
  border: dotted 2px #668014;
}

.orange-nav {
  background-color: #ec971f
}

.navbar-text a{
  color: #fff
}

.image-container img{
  max-width: 100px;
  max-height: 100px;
}

.listing {
  margin-top: 10px;
  float:left;
  text-align: center;
  border: 1px dotted black;
}

.description-container {
  width: 350px;
  height: 150px;
}

.title-container {
  width: 350px;
  height: 80px;
  position:relative;
}